// Bouton retour
.material-symbols-outlined {
    margin: 10px;
    color:lightseagreen;
    font-size: 50px;
    text-decoration: none;
    position:absolute;
}

#chartContainer {
    background: aqua;
}