.titleContainer {
    display: flex;
    justify-content: center;
    
    // Text
    text-align: center;

    h1 {
        // Text
        color: white;
        letter-spacing: 2px;
        font-weight: normal;

        // Background
        background-color: lightseagreen;
        padding: 15px;
        border-radius: 7px;
        margin-bottom: 5px;
    }
}

.statsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .statItem {
        // Text
        text-align: center;

        // Background
        border: solid lightseagreen;
        padding: 0 10px;
        border-radius: 7px;
        margin: 5px 10px;

        :first-child {
            color: grey;
            font-weight: normal;
            margin: 10px;
        }

        :nth-child(2) {
            margin: 10px;
        }
    }
}