* {
    font-family: Roboto, Helvetica, sans-serif;
}

// .ng-star-inserted,
.pie-label {
    font-size: medium !important;
}

// Maximiser hauteur des graphiques
html, body {
    height: 100%;
    margin: 0;
}